<!-- ======= About Us Section ======= -->
<section id="<%= anchor_link(section_name) %>" class="about">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><%= @about_us_header %></h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <%= @about_us_section.left_side.html_safe %>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <%= @about_us_section.right_side.html_safe %>
        <a href="<%= @setting.instagram_url %>" class="btn-learn-more">Learn More</a>
      </div>
    </div>

  </div>
</section> <!-- End About Us Section -->
<%= render 'visitors/partitions/counts' %>