<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="row">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
        <%= image_tag("counts-img.svg", class: "img-fluid", alt: "") %>
      </div>

      <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="<%= @about_us_section.happy_clients_class %>"></i>
                <span data-toggle="counter-up"><%= @about_us_section.happy_clients_counter %></span>
                <p><%= @about_us_section.happy_clients_text %></p>
              </div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="<%= @about_us_section.projects_class %>"></i>
                <span data-toggle="counter-up"><%= @about_us_section.projects_counter %></span>
                <p><%= @about_us_section.projects_text %></p>
              </div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="<%= @about_us_section.years_class %>"></i>
                <span data-toggle="counter-up"><%= @about_us_section.years_counter %></span>
                <p><%= @about_us_section.years_text %></p>
              </div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="<%= @about_us_section.awards_class %>"></i>
                <span data-toggle="counter-up"><%= @about_us_section.awards_counter %></span>
                <p><%= @about_us_section.awards_text %></p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section> <!-- End Counts Section -->