<!-- ======= Features Section ======= -->
<section id="<%= anchor_link(section_name) %>" class="features">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2><%= @features_header %></h2>
      <p><%= @features_section.description %></p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <% @feature_items.each do |item| %>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="<%= item.icon_class %>" style="color: <%= item.style_color %>;"></i>
            <h3><a href=""><%= item.header %></a></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section> <!-- End Features Section -->