<!-- ======= Testimonials Section ======= -->
<section id="<%= anchor_link(section_name) %>" class="testimonials section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2><%= @testimonials_header %></h2>
      <p><%= @testimonials_section.description %></p>
    </div>
    <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">
      <% @testimonials_items.each do |item| %>
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <%= image_tag("testimonials/testimonials-#{item.position}.jpg", class: "testimonial-img", alt: "") %>
            <h3><%= item.author %></h3>
            <h4><%= item.occupation %></h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= item.content.html_safe %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section> <!-- End Testimonials Section -->