<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @about_us_section.section %>
</p>

<p>
  <strong>Left side:</strong>
  <%= @about_us_section.left_side %>
</p>

<p>
  <strong>Right side:</strong>
  <%= @about_us_section.right_side %>
</p>

<p>
  <strong>Happy clients counter:</strong>
  <%= @about_us_section.happy_clients_counter %>
</p>

<p>
  <strong>Projects counter:</strong>
  <%= @about_us_section.projects_counter %>
</p>

<p>
  <strong>Years counter:</strong>
  <%= @about_us_section.years_counter %>
</p>

<p>
  <strong>Awards counter:</strong>
  <%= @about_us_section.awards_counter %>
</p>

<p>
  <strong>Happy clients text:</strong>
  <%= @about_us_section.happy_clients_text %>
</p>

<p>
  <strong>Projects text:</strong>
  <%= @about_us_section.projects_text %>
</p>

<p>
  <strong>Years text:</strong>
  <%= @about_us_section.years_text %>
</p>

<p>
  <strong>Awards text:</strong>
  <%= @about_us_section.awards_text %>
</p>

<p>
  <strong>Happy clients class:</strong>
  <%= @about_us_section.happy_clients_class %>
</p>

<p>
  <strong>Projects class:</strong>
  <%= @about_us_section.projects_class %>
</p>

<p>
  <strong>Years class:</strong>
  <%= @about_us_section.years_class %>
</p>

<p>
  <strong>Awards class:</strong>
  <%= @about_us_section.awards_class %>
</p>

<%= link_to 'Edit', edit_about_us_section_path(@about_us_section) %> |
<%= link_to 'Back', about_us_sections_path %>
