<%= render 'visitors/partitions/header' %>
<%= render 'layouts/shared/messages' %>
<%= render partial: 'visitors/partitions/hero_section', locals: {section_name: @sections.find_by(position: 2).partial_name } %>
<main id="main">
  <% @sections.each do |section| %>
    <%= render partial: 'visitors/partitions/'+section.partial_name, locals: {section_name: section.partial_name} %>
  <% end %>
</main> <!-- End #main -->
<%= render partial: 'visitors/partitions/contact', locals: {section_name: 'contact'} %>
<%= render partial: 'visitors/partitions/footer', locals: {section_name: 'footer'} %>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>