<%= form_with(model: faq_item, local: true) do |form| %>
  <% if faq_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faq_item.errors.count, "error") %> prohibited this faq_item from being saved:</h2>

      <ul>
      <% faq_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :faq_section_id %>
    <%= form.text_field :faq_section_id %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_area :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
