<p id="notice"><%= notice %></p>

<h1>Pricing Sections</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pricing_sections.each do |pricing_section| %>
      <tr>
        <td><%= pricing_section.section %></td>
        <td><%= pricing_section.description %></td>
        <td><%= link_to 'Show', pricing_section %></td>
        <td><%= link_to 'Edit', edit_pricing_section_path(pricing_section) %></td>
        <td><%= link_to 'Destroy', pricing_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pricing Section', new_pricing_section_path %>
