<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @setting.name %>
</p>

<p>
  <strong>Slogan basic:</strong>
  <%= @setting.slogan_basic %>
</p>

<p>
  <strong>Slogan additional:</strong>
  <%= @setting.slogan_additional %>
</p>

<p>
  <strong>Get started:</strong>
  <%= @setting.get_started %>
</p>

<p>
  <strong>Call to action:</strong>
  <%= @setting.call_to_action %>
</p>

<p>
  <strong>Address:</strong>
  <%= @setting.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @setting.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @setting.phone %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @setting.twitter_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @setting.facebook_url %>
</p>

<p>
  <strong>Instagram url:</strong>
  <%= @setting.instagram_url %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @setting.linkedin_url %>
</p>

<p>
  <strong>Privacy policy:</strong>
  <%= @setting.privacy_policy %>
</p>

<p>
  <strong>Terms of use:</strong>
  <%= @setting.terms_of_use %>
</p>

<p>
  <strong>Active:</strong>
  <%= @setting.active %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
